<extend name="main/base" />
<block name="page-container">
<div class="page-container">
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th>标题</th>
				<th>值</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<?php
				foreach($_list as $v){
			?>
			<tr class="text-c">
				<td><?=$v['title']?></td>
				<td><?=$v['value']?></td>
				<td><?=getBtn(2,null,$v['id'],$v['status'])?></td>
			</tr>
			<?php
				}
			?>
		</tbody>
	</table>
	</div>
</div>
</block>




