<div class="text-c">
	<form id="search" action="<?=U()?>" class="form form-horizontal" id="form-member-add" method="get">
	 	日期范围：
		<input type="text" id="logmin" name='add_time_1' onfocus="WdatePicker()" class="input-text Wdate" style="width:120px;">
		-
		<input type="text" id="logmax" name='add_time_2' onfocus="WdatePicker()" class="input-text Wdate" style="width:120px;">
		<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>搜索</button>
	</form>
</div>